{% load static %}

<html lang="en">
<!DOCTYPE html>
<head>
    <title>SPK Home </title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<style>


    </style>

<body>
    <header>

                <a class="navbar-brand avatar">
                  <img src="{% static 'spk.jpeg' %}" width="90" height="80" class="avatar"></a>

         <div class="col-md-2 mb-2">
            <h3>SPK Constructions & Engineering</h3>
     </div>

        <div class="topnav">
             <a href="{% url 'dohome' %}">Home</a>
             <a href="{% url 'orders' %}"> New Order(s)</a>
             <a href="{% url 'approveorder' 'Requested' %}">Approve Order</a>
             <a href="{% url 'report' %}">Report</a>
             <a href="{% url 'report_dup' %}">Report_Dup</a>
             <a href="{% url 'registration' %}">Registration</a>
             {% if user.is_authenticated %}
                <a href="{% url 'dologout' %}">Logout</a>
             {% else %}
                <a href="{% url 'dologin' %}">Login</a>
             {% endif %}
      </div>
    </header>
    <footer>
        <p>&copy; Copy rights SPK Constructions</p>
    </footer>
{% block content %}

{% endblock %}
</body>
</html>