{% load static %}

<html lang="en">
<!DOCTYPE html>
<head>
    <title>SPK Home </title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
    <header>
        <h1>SPK</h1>
        <div class="topnav">
             <a href="{% url 'dohome' %}">Home</a>
             <a href="{% url 'orders' %}"> New Order(s)</a>
             <a href="{% url 'approveorder' %}">Approve Order</a>
             <a href="{% url 'inventory' %}">Report</a>
             <a href="{% url 'registration' %}">Registration</a>
             {% if user.is_authenticated %}
                <a href="{% url 'dologout' %}">Logout</a>
             {% else %}
                <a href="{% url 'dologin' %}">Login</a>
             {% endif %}
      </div>
    </header>
    <footer>
        <p>&copy; Copy rights SPK Constructions</p>
    </footer>
{% block content %}

{% endblock %}
</body>
</html>