.my-custom-scrollbar {
top: 80px;
position: relative;
height: 800px;
overflow: auto;
width: 100%;
background: lightblue;
table-layout: auto;
}
.table-wrapper-scroll-y {

width: 100%;
}

th {
  height: 50px;
  position: sticky;
  width: auto;
}
table, th, td {
  border: 1px solid;
}
td {
  text-align: center;
  height: 5px;
}

