div.projectname {
  position: relative;
  top: 10px;
  left: 10;
  width: 350px;
  border: 3px solid #73AD21;
  background-color: white;
  border-radius: 8px;
}

div.prodcutcat {
  position: relative;
  top: -15;
  left: 410;
  width: 400px;
  border: 3px solid #73AD21;
  background-color: white;
  border-radius: 8px;
}

div.product {
  position: relative;
  top: -40px;
  left: 880;
  width: 350px;
  border: 3px solid #73AD21;
  background-color: white;
  border-radius: 8px;
}

.city {
  position: relative;
  background-color: white;
  border: 3px solid #73AD21;
  width: 300px;
  left: 1300px;
  top: -65px;
  height: 20px;
  border-radius: 8px;
  text-align: center;
  }

.excel {
  position: relative;
  background-color: white;
  border: 3px solid #73AD21;
  width: 200px;
  left: 1650px;
  top: -90px;
  height: 20px;
  border-radius: 8px;
  text-align: center;

}

.city [type="submit"]{
  position:relative;
  background-color: #73AD21;
  width: 300px;
  border: none;
  height: 20px;
}

.excel [type="submit"]{
  position:relative;
  background-color: #73AD21;
  width: 200px;
  border: none;
  height: 20px;
}

.report {
  position:relative;
  top: 80px;
  width:auto;
  height: 790px;
  border: 3px solid #73AD21;
}

.query{
 position:relative;
 top: 0px;
 width:auto;
 height: 100px;
 border: 3px solid #f9faf7;
}

.city input[type="submit"]:hover
{
 cursor: pointer;
 background: #0b3f25;
 color:rgb(250, 246, 246);
 border-radius: 8px;
}
.excel [type="submit"]:hover
{
 cursor: pointer;
 background: #0b3f25;
 color:rgb(250, 246, 246);
 border-radius: 8px;
}

.result{
  position:absolute;
  top: 201px;
  left: 220px;
  width:auto;
  height: 400px;
  border: 3px solid #0f1601;
   
}


.table {
    background: lightblue;
    width: vertical;
    top: 50px;
    height: 680px;
}
th {
  height: 50px;
}
table, th, td {
  border: 1px solid;
}
td {
  text-align: center;
  height: 5px;
}
table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

div.prodcutcat label {
  font-weight: bold;
  size: 20px;
  font-size: 15px;
  padding: 0px 30px 0px 0px;
  width: 130px;
}

div.product label {
  font-weight: bold;
  size: 20px;
  font-size: 15px;
  padding: 0px 50px 0px 0px;
  width: 130px;
}
div.projectname label {
  font-weight: bold;
  size: 20px;
  font-size: 15px;
  padding: 0px 30px 0px 0px;
  width: 130px;
}
