{% extends 'home/navi.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<br/> <br/>

{% if user.is_authenticated %}
    <div class="container-fluid well">
        {% if submitted %}
        <h3>Order was submitted successfully!</h3>
        {% else %}
        {% endif %}
    </div>

{% else %}
    Login First
{% endif %}
</body>
</html>
{% endblock %}