{% extends 'home/navi.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>
     <link rel="stylesheet" href="{% static 'orderform.css' %}">
</head>
<body>
<br/> <br/>

{% if user.is_authenticated %}
<h1>Add order form</h1>
    {% if submitted %}
      Your order was submitted successfully!!
    {% else %}
    <form action=""  id="personForm" class="order" data-cities-url="{% url 'ajax_load_cities' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="" value="Submit Order">
    </form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{% endif %}
{% else %}
Login First
{% endif %}
</body>
</html>
{% endblock %}