{% extends 'home/navi.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Order</title>
      <link rel="stylesheet" href="{% static 'new_order.css' %}">
</head>
<body>
  {% if user.is_authenticated %}
    <div class ="main">
        <h2>New Order</h2>
        <form action="" id="personForm" method="post" class="order" data-cities-url="{% url 'ajax_load_cities' %}">
            {% csrf_token %}
            <div>
              <label for="re-name">Requester</label>
              <input type="text" name="re-name" id="re-name" value="{{request.user.username}}" readonly>
            </div>
            <div class="project_name">
              <label for="pn-name">Project Name</label>
                 <select name="p-name" id="pn-name" class="select-field">
                    <option value="">--Please choose the project--</option>
                    <option value="proejct1">Project-1</option>
                    <option value="proejct2">Project-2</option>
                    <option value="proejct3">Project-3</option>
                   </select>
            </div>
            <div>
              <label for="c-name">Product Category</label>
                  {% if cat_all %}
                  <select name="p-category" id="c-name" class="select-field">
                      <option value="">--Please choose the project--</option>
                     {% for or in cat_all %}
                        <option value="category">{{ or.name }}</option>
                     {% endfor %}
                  </select>
                  {% endif %}
            </div>
            <div>
              <label for="p-name">Product</label>
                 <select name="product" id="p-name" class="select-field">
                     <option value="">--Please choose the category--</option>
                     <option value="proejct1">Product 1</option>
                     <option value="approver">Product 2</option>
                     <option value="admin">Product 3</option>
                  </select>
            </div>
            <div>
              <label for="q-name">Quantity</label>
              <input type="number" name="quantity" id="q-name">
            </div>
            <div class="remarks">
              <label for="l-des">Remarks</label>
              <textarea name="l-des" id ="l-des"></textarea>
            </div>
            <div>
              <button type="submit">Submit Order</button>
            </div>
        </form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#c-name").change(function () {
        const url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
        const categoryId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'name': 'Timber'       // categoryId add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#p-name").html(data);  // replace the contents of the city input with the data that came from the server

                /*

                let html_data = '<option value="">---------</option>';
                data.forEach(function (product) {
                    html_data += `<option value="${product.id}">${product.name}</option>`
                });
                console.log(html_data);
                $("#p-name").html(html_data);

                */

            }
        });

    });
</script>
</div>
   {% else %}
     redirect to login page
  {% endif %}
</body>
</html>

{% endblock %}